body {
  background-color: #002b3c;
  color: gray;
  padding: 25px;
}

pre {
  font-family: monospace;
  font-size: 20px;
}

.keyword {
  color: #ff4a4a;
}

.comment {
  color: #4AFF4B;
}

.misc {
  color: royalblue;
}
.identifier {
  color: #dae8ed;
}

.invalid {
  color: red;
}

/* Literals */

.complex-literal {
  color: #9fa7aa;
}
 
.float-literal {
  color: #9fa7aa;
}
 
.int-literal {
  color: #9fa7aa;
}
 
.bool-literal {
  color: #847689;
}
 
.string-literal {
  color: #eddf0c;
}
 
.none-literal {
  color: #847689;
}
 

/* Delimiters */ 
.grouping {
  color: #ffa54a;
}

.punctuation {
  color: #c25100;
}

.arithmetic-assignment {
  color: #f39700;
}

.bitwise-assignment {
  color: #f39700;
}

/* Operators */
.arithmetic-operator {
  color: #00D5F3;
}
 
.bitwise-operator {
  color: #00D5F3;
}
 
.relational-operator {
  color: #00b0f5;
}
 
.logical-operator {
  color: #0087ec;
}

/* Selection */
::-moz-selection { color: #333}
::selection { color: #333; }
::-moz-selection { background: #f1c40f; }
::selection { background: #f1c40f; }

/* Scrollbar */
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #000d2d;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #575d61; border-radius: 3px;}
